


body{
background-color:#d3faf5;

}


hr{
  border-style:none;
  border-top:dotted;
  border-color:#4cbcfd;
  width: 5%;
  border-width: 5px;

}
h1{
  color: #42C2FF;
  font-family: sans-serif;
  

}
h3{
  color: #42C2FF;
  font-family: sans-serif;
}
h4{
  color: #42C2FF;
  font-family: sans-serif;
}
p{
  font-family: sans-serif;
}
li{
  font-family: sans-serif;
}
tr{
  font-family: sans-serif;
}
a{text-decoration:none;color:rgb(250, 117, 93);}
a:hover {color:#42C2FF;
  }

  